<div class='album-detail-container container'>

	<div class="nav-view">
		<a class='nav-option-left' href='#' data-transition="slide" data-direction="reverse" data-dojo-attach-point='router'><i class='icon-chevron-left icon-white'></i>Back</a>
	</div>

	<div class="album-list-view">
		<div class="friend-detail-header">
			<img class="shadow" data-dojo-attach-point="friendImg" src="img/blank.jpg" />
			<div class="friend-detail-friend-name" data-dojo-attach-point="friendName"></div>
			<div class="friend-common-container">
				<div class="friend-common-num" data-dojo-attach-point="commonNum"></div>
				<div class="friend-common-text">Artists in common</div>
			</div>
		</div>

		<div class="friend-detail-artist-list scrollable" data-dojo-attach-point="artistList"></div>
	</div>
</div>